:root{
    --background1: #F5F5F5;
    --background2: #EEEFF4;
    --color-parrafo: #464646;
}

html {   
    min-width: 320px;   
    scroll-behavior: smooth;
    }

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background: var(--background1);
}

a:hover{
    color: #f73131;
}