:root{
    --background1: #F5F5F5;
    --background2: #EEEFF4;
    --color-parrafo: #464646;
}

html {   
    min-width: 320px;   
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    }

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background: var(--background1);
}

a:hover{
    color: #f73131;
    transition: all ease 0.2s;
}

::-moz-selection{ /* Code for Firefox */
    color: #ffffff;
    background: rgb(49, 49, 49);
}

::selection{
    color: #ffffff;
    background: rgb(49, 49, 49);
}