.footer{
    background: black;
    color: white;

    text-align: center;

    padding: 32px 16px;
}

.footer__redes{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 16px;
}

.footer__img{
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(279deg) brightness(112%) contrast(100%);
}