.form__grupo{
    width: 100%;
    position:relative;  
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form__grupo + .form__grupo {
    margin-top: 30px;
}

.form__label{
    position: absolute;
    left: 16px;
    top: 38px;
    color: rgba(162,162,162,1);
    background-color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focus .form__label{
    transform: translateY(-125%);
    font-size: 0.75em;

    color: rgba(212,45,45,1);
}

.form__input{
    position: relative;

    padding:16px;
    margin-bottom: 32px;

    height: 60px;
    width: 90%;

    border-radius: 6px 6px 0 0;
    border: none;

    box-shadow: 0px 4px 0px -1px rgba(162,162,162,1);
    -webkit-box-shadow: 0px 4px 0px -1px rgba(162,162,162,1);
    -moz-box-shadow: 0px 4px 0px -1px rgba(162,162,162,1);
}

.form__textarea{
    
    padding-top: 36px;
    resize: vertical;
}

.form__input:focus, .form__textarea:focus{
    box-shadow: 0px 4px 0px -1px rgba(212,45,45,1);
    -webkit-box-shadow: 0px 4px 0px -1px rgba(212,45,45,1);
    -moz-box-shadow: 0px 4px 0px -1px rgba(212,45,45,1);

    outline: none;
}

.form__input.filled, .form__textarea.filled{
    box-shadow: 0px 4px 0px -1px rgba(212,45,45,1);
    -webkit-box-shadow: 0px 4px 0px -1px rgba(212,45,45,1);
    -moz-box-shadow: 0px 4px 0px -1px rgba(212,45,45,1);

    outline: none;
}

.form__btn{
    cursor: pointer;

    padding: 8px 16px;
    margin-bottom: 32px;

    color: white;
    font-size: 1.2rem;
    font-weight: 600;

    background: black;
    border: 2px solid black;
}