.form__grupo{
    width: 100%; 
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form__label {
    position: relative;
    font-size: 1.2rem;
    width: 100%;
}

.form__input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;

    border: 0;
    border-bottom: solid 2px grey;
    border-radius: 6px;

    margin-bottom: 3.2rem;
    padding: 16px;
    padding-bottom: 0;
    color: black;
}

.form__input--invalid{
    border: 2px solid #f73131;
}

.form__input-error{
    color: #f73131;

    position: absolute;
    top: 65px;
    left: 0px;
}

.form__input-error--message{
    top: 165px;
}

.form__input--mensaje{
    height: 160px;

    padding-top: 32px;

    resize: none;
    overflow: hidden;
}

.form__input:focus{
    border-color: #f73131;

    transition: all 0.2s;
}

.label-span {
    position: absolute;
    top: 20px;
    left: 16px;
    transition: all 0.2s;
    pointer-events: none;

    color: var(--color-parrafo);
}

.form__input:focus+.label-span{
    top: 10px;
    left: 16px;

    font-size: 0.8rem;
    font-weight: 600;

    color: #f73131;
}

.form__input.full+.label-span {
    top: 10px;
    left: 16px;

    font-size: 0.8rem;
    font-weight: 600;
}

.form__btn{
    cursor: pointer;

    padding: 8px 16px;
    margin-bottom: 32px;

    color: white;
    font-size: 1.2rem;
    font-weight: 600;

    background: black;
    border: 2px solid black;
    border-radius: 6px;
}

.form__btn:hover{
    background: #f73131;
    border-color: #f73131;

    transition: all 150ms;
}