.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 2;
}

.logo__img{
    width: 60px;
    height: 60px;
}

.logo__nombre{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.nav-bar{
    display: none;
}