.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 20;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__img{
    width: 60px;
    height: 60px;

    z-index: 20;
}

.logo__nombre{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.nav{
    display: none;
}

.nav__item{
    font-size: 1rem;
}

@media screen and (min-width: 920px){
    .nav{
        display: block;
    }
    
    .nav__bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__item{
        margin-left: 32px;
    }
}