.main{
    background: var(--background1);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 16px 32px;
    margin-top: 32px;

}

.main__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1370px;
}

.main__logo{
    width: 150px;
    height: 150px;

    border-radius: 360px;
}

.main__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main__titulo{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;

    align-self: flex-start;
}

.main__descripcion{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;

    color: var(--color-parrafo);
}

.main__redes{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 32px
}

.main-redes__img{
    height: 38px;
    margin: 0 36px;
}

.main-redes__img:hover{
    filter: invert(32%) sepia(15%) saturate(5930%) hue-rotate(329deg) brightness(104%) contrast(120%); /**Resultado de 4.0 CSS filter*/


    transition: all 200ms;
}

.main__img{
    width: 40px ;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .main__div{
        flex-direction: row-reverse;
    }

    .main__logo{
        margin-left: 32px;
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 1024px){

    .main__logo{
        width: 280px;
        height: 280px;
    }
}